<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <title>Drink Recomendations</title>
    </head>
    <body>
        <div class="navbar">
            <h3>Hi {{person.c_custUser}}!</h3>
            <h1>Here is your recommendations</h1>
        
            <ul>
                <li><a style="text-decoration:none" href="{{ url_for('home_menu')}}">Home</a></li>
                <li><a style="text-decoration:none" href="{{ url_for('drinkRecommendation')}}">Back</a></li>
                <li><a style="text-decoration:none" href="{{ url_for('logOut')}}">Log Out</a></li>
            </ul>

            {% for row in results %}
            <p>Our recomendation: {{row.d_drinkName}}</p>
            {% endfor %}

            <button onClick="window.location.reload();">Refresh Page</button>

    </body>
</html>