<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <title>Food Recommendations</title>
    </head>
    <body>
        <div class="navbar">
            <h3>Welcome {{person.c_custUser}}!</h3>
            <h1>Starbucks Food Recommendations</h1>
            
            <ul>
                <li><a style="text-decoration:none" href="{{ url_for('home_menu')}}">Home</a></li>
                <li><a style="text-decoration:none" href="{{ url_for('foodReccomendation')}}">Food Recommendation</a></li>
                <li><a style="text-decoration:none" href="{{ url_for('drinkRecommendation')}}">Drink Recommendation</a></li>
                <li><a style="text-decoration:none" href="{{url_for('reviews')}}">Reviews</a></li>
                <li><a style="text-decoration:none" href="{{url_for('locations')}}">Locations</a></li>
                <li><a style="text-decoration:none" href="{{ url_for('logOut')}}">Log Out</a></li>
            </ul>

        <script src="{{url_for('static', filename='myScript.js')}}"></script>
        <div class="table_container">
            <table>
                <form method="POST">
                    <tr> 
                        <th>Nutrition</th>
                        <th>Low</th>
                        <th>Medium</th>
                        <th>High</th>
                    </tr>
                    <tr>
                        <th>Calories</th>
                        <td><input type='radio' name='Calories' value="150"></td>
                        <td><input type='radio' name='Calories' value="250"></td>
                        <td><input type='radio' name='Calories' value ="2000"></td>
                    </tr>
                    <tr>
                    
                        <th>Fat</th>
                        <td><input type='radio' name='Fat' value="5"></td>
                        <td><input type='radio' name='Fat' value="18"></td>
                        <td><input type='radio' name='Fat' value="1000"></td>
                    </tr>
                    <tr>
                        <th>Cholesterol</th>
                        <td><input type='radio' name='Cholesterol' value="33"></td>
                        <td><input type='radio' name='Cholesterol' value="75"></td>
                        <td><input type='radio' name='Cholesterol' value="1000"></td>
                    </tr>
                    <tr>
                        <th>Sodium</th>
                        <td><input type='radio' name='Sodium' value="125"></td>
                        <td><input type='radio' name='Sodium' value="300"></td>
                        <td><input type='radio' name='Sodium' value="5000"></td>
                    </tr>
                    <tr>
                        <th>Carbs</th>
                        <td><input type='radio' name='Carbs' value="15"></td>
                        <td><input type='radio' name='Carbs' value="33"></td>
                        <td><input type='radio' name='Carbs' value="2000"></td>
                    </tr>
                        <th>Sugar</th>
                        <td><input type='radio' name='Sugar' value="15"></td>
                        <td><input type='radio' name='Sugar' value="38"></td>
                        <td><input type='radio' name='Sugar' value="200"></td>
                    </tr>
                    <tr>
                        <th>Protein</th>
                        <td><input type='radio' name='Protein' value="5"></td>
                        <td><input type='radio' name='Protein' value="10"></td>
                        <td><input type='radio' name='Protein' value="100"></td>
                        

                    </tr>
            </table>
                    <input type="submit" value="Submit" > 
                    
                </form>
        </div>
    </body>
</html>