<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <title>Reviews</title>
    </head>
    <body>
        <div class="navbar">
            <h3>Hi {{person.c_custUser}}!</h3>
            <h1>Create a rating</h1>
        
            <ul>
                <li><a style="text-decoration:none" href="{{ url_for('home_menu')}}">Home</a></li>
                <li><a style="text-decoration:none" href="{{ url_for('foodReccomendation')}}">Food Recommendation</a></li>
                <li><a style="text-decoration:none" href="{{ url_for('drinkRecommendation')}}">Drink Recommendation</a></li>
                <li><a style="text-decoration:none" href="{{ url_for('reviews')}}">Reviews</a></li>
                <li><a style="text-decoration:none" href="{{ url_for('logOut')}}">Log Out</a></li>
            </ul>

    </body>
</html>